.signInConsole_{
background-color: #24366e;
  width: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  color:#dedad0;
  //width:50vw;
}
.btn_sign_in_color{
 background-color:#dedad0;
}
.navLinkPassword{
  color:#dedad0;
}
.navLinkSignUpHere{
  color: #40b2a4;
}